@charset "UTF-8";

/* Universal */
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

body {
  height: 100%;
  background-color: #d7dadb;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
}

input {
  margin: 0;
  font: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 30px;
  display: block;
  color: #555;
  font-size: 15px;
  padding: 10px;
  border: 1.2px solid #b4b4b4;
}

/* Top */
.logo {
  text-align: center;
  margin-bottom: 30px;
  background-color: #ffbf00;
  color: #fcebb8;
  font-family: inherit;
  width: 100%;
  height: 45px;
  box-shadow: 0 4px 4px rgba(238, 235, 235, 0.4);
}

.logo > a {
  font-size: 30px;
  font-weight: 900;
  color: #f8d772;
}

.register_title > h2 {
  text-align: center;
  color: #353434;
  margin-top: 100px;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.wrap {
  width: 460px;
  margin: auto;
  box-sizing: border-box;
}

/* 페이지 제목 */
.subject {
  width: 100%;
  height: 120px;
  background-color: #8ec0e4;
}
.subject span {
  margin-left: 31px;
  font-size: 80px;
  font-weight: 900;
  color: white;
}

/* 아이디 영역 */
.id_wrap {
  width: 100%;
  margin-top: 20px;
}
.id_name {
  font-size: 25px;
  font-weight: bold;
}
.id_input {
  width: 70.3%;
  float: left;
  border-right: none;
}
.id_check_button {
  width: 25%;
  float: right;
  height: 52px;
  background-color: #ebedee;
  color: #555;
  font-size: 15px;
  border: 1.2px solid #b4b4b4;
  padding: 0;
}

/* 비밀번호 영역 */
.pw_name {
  font-size: 25px;
  font-weight: bold;
}
.pw_input {
  margin-top: 10px;
  border-bottom: none;
}

/* 비밀번호 확인 영역 */
.pwck_name {
  font-size: 25px;
  font-weight: bold;
}

/* 닉네임 영역 */

.nick_name {
  font-size: 25px;
  font-weight: bold;
}

.nick_input {
  margin-top: 10px;
  width: 70.3%;
  float: left;
  border-right: none;
}

.nick_check_button {
  margin-top: 10px;
  width: 25%;
  float: right;
  height: 52px;
  background-color: #ebedee;
  color: #555;
  font-size: 15px;
  border: 1.2px solid #b4b4b4;
  padding: 0;
}

/* 성별 영역 */
.radio-input {
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 15px
}

label {
  display: inline-block;
}

.radio {
  display: inline-block;
  margin: 0;
  margin-top: -3.1px;
  width: 20px;
  vertical-align: middle;
  color: #555;
  padding: 0;
}

#userId_check,
#password_check,
#nickname_check,
#join_check {
	display: block;
	float: left;
	font-size: 12px;
	margin: 3px;
	width: 100%
}

#join_check {
	vertical-align: middle;
	margin-top: 15px;
}

/* 가입하기 버튼 */
.join_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 50px;
  width: 100%;
  height: 55px;
  background-color: #ffbf00;
  border: 1.4px solid #a07903;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 10px;
  color: white;
}

