<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.cookinglearn.admin.repository.IClassMgrMapper">

	<resultMap id="classMgrMap" type="kr.co.cookinglearn.admin.model.ClassVO">
		<id property="classCode" column="class_code"/>
		<result property="classType" column="class_type"/>
		<result property="classCategory" column="class_category"/>
		<result property="thumbnailImg" column="thumbnail_img"/>
		<result property="className" column="class_name"/>
		<result property="classContent" column="class_content"/>
		<result property="runTime" column="run_time"/>
		<result property="startDate" column="start_date"/>
		<result property="contentImg" column="content_img"/>
		<result property="classUrl" column="class_url"/>
		<result property="price" column="price"/>
		<result property="maxStudent" column="max_student"/>
	</resultMap>
	
	<resultMap id="studentsMap" type="kr.co.cookinglearn.admin.model.process.ClassStudentsVO">
		<id property="orderNo" column="order_no"/>
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="nickname" column="nickname"/>
		<result property="gender" column="gender"/>
		<result property="paymentDate" column="payment_date"/>
		<result property="orderProcess" column="order_process"/>
	</resultMap>
	
	<sql id="classSearch">
		<if test="condition == 'className'">
			WHERE class_name LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'classContent'">
			WHERE class_content LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'classNameContent'">
			WHERE class_name LIKE '%'||#{keyword}||'%' OR class_content LIKE '%'||#{keyword}||'%'
		</if>
	</sql>
	
	<sql id="classCategorySearch">
		<if test="classCategory != 'all'">
			AND class_category = #{classCategory}
		</if>
	</sql>
	
	<sql id="classDateSearch">
		<if test="startDate != null">
			AND start_date BETWEEN #{startDate} AND #{endDate}
		</if>
	</sql>
	
	<sql id="not">
		<if test="!complete">
			NOT
		</if>
	</sql>
	
	<sql id="startDate">
		<if test="startDate != null">
			, start_date = #{startDate}
		</if>
	</sql>
	
	<sql id="url">
		<if test="classUrl == null">
			null
		</if>
		<if test="classUrl != null">
			#{classUrl}
		</if>
	</sql>

	<select id="getClassList" resultMap="classMgrMap">
		SELECT * FROM (
		    SELECT row_number() OVER (ORDER BY class_code DESC) AS rn, "CLASS".*
		    FROM (
		        SELECT * FROM "CLASS" <include refid="classSearch" /> 
		        )"CLASS" WHERE class_type = #{classType} <include refid="classCategorySearch" /> <include refid="classDateSearch" />
		    )
		WHERE rn BETWEEN (#{currentPage}-1)*#{messagePerPage}+1 AND #{currentPage}*#{messagePerPage}
	</select>

	<select id="classCount" resultType="int">
		SELECT COUNT(*) FROM (
	        SELECT * FROM "CLASS" <include refid="classSearch" /> 
        ) WHERE class_type = #{classType} <include refid="classCategorySearch" /> <include refid="classDateSearch" />
	</select>

	<select id="getClassInfo" resultMap="classMgrMap">
		SELECT * FROM "CLASS"
		WHERE class_code = #{classCode}
	</select>
	
	<select id="getClassListByOrder" resultMap="classMgrMap">
		SELECT * FROM (
		    SELECT row_number() OVER (ORDER BY class_code DESC) AS rn, "CLASS".*
		    FROM (
		        SELECT * FROM (
					SELECT * FROM "CLASS"
					WHERE class_code <include refid="not" /> IN<![CDATA[(SELECT DISTINCT class_code FROM "ORDER" WHERE order_process <= 1)
                    )]]> <include refid="classSearch" /> 
		        )"CLASS" WHERE class_type = #{classType} <include refid="classCategorySearch" /> <include refid="classDateSearch" />
		    )
		WHERE rn BETWEEN (#{currentPage}-1)*#{messagePerPage}+1 AND #{currentPage}*#{messagePerPage}
	</select>
	
	<select id="classCountByOrder" resultType="int">
		SELECT COUNT(*) FROM (
	        SELECT * FROM (
				SELECT * FROM "CLASS"
				WHERE class_code <include refid="not" /> IN<![CDATA[(SELECT DISTINCT class_code FROM "ORDER" WHERE order_process <= 1)
				)]]> <include refid="classSearch" /> 
        ) WHERE class_type = #{classType} <include refid="classCategorySearch" /> <include refid="classDateSearch" />
	</select>
	
	<delete id="classDelete">
		DELETE FROM "CLASS"
		WHERE class_code = #{class_code}
	</delete>
	
	<insert id="regClass">
		INSERT INTO "CLASS" 
		VALUES (
			CLASS_CODE_SEQ.NEXTVAL, #{classType}, #{classCategory}, 
			#{thumbnailImg}, #{className}, #{classContent}, #{runTime}, 
			#{startDate}, #{contentImg}, <include refid="url" />, #{price}, #{maxStudent}
		)
	</insert>
	
	<update id="modClass">
		UPDATE "CLASS"
		SET class_name = #{className}, class_content = #{classContent},
		class_category = #{classCategory}, run_time = #{runTime}, 
		price = #{price}, class_url = <include refid="url" />, thumbnail_img = #{thumbnailImg}, 
		content_img = #{contentImg}, max_student = #{maxStudent} <include refid="startDate" />
		WHERE class_code = #{classCode}
	</update>
	
	<select id="getContentImg" resultType="String">
		SELECT CONCAT(thumbnail_img, content_img)
		FROM "CLASS"
		WHERE class_code = #{classCode}
	</select>
	
	<select id="getStudents" resultMap="studentsMap">
		SELECT order_no, user_no, user_id, nickname, gender, payment_date, order_process
		FROM "ORDER" JOIN "USER" USING(user_no)
		WHERE class_code = #{classCode}	
		ORDER BY payment_date
	</select>

	<update id="setProcess">
		UPDATE "ORDER"
		SET order_process = #{orderProcess}
		WHERE order_no = #{orderNo}
	</update>
	
</mapper>








