.container {
	width: 1240px;
	max-width: none !important;
	margin-left: auto;
	margin-right: auto;
}

#contents_area_full {
	padding: 20px 0 20px 0;
}

.contents_title {
	font-size: 28px;
	padding-top: 14px;
	border-bottom: 1px solid #e6e7e8;
	padding: 6px 4px 12px;
	margin: 14px 30px 0;
}

.class_list {
	margin-top: 30px;
	padding: 0 22px;
}

.class_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.class_item {
	width: 270px;
	height: 200px;
	margin: 10px;
}

.class_list_ul {
	margin: 0;
	vertical-align: top;
}

.class_list_li {
	width: 282px;
	list-style: none;
	margin: 0 12px 40px 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.cli_thumb {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

.cli_thumb a {
	color: rgb(42, 42, 42);
	text-decoration: none;
}

.cli_thumb img {
	width: 100%;
}

.cli_caption {
	padding: 10px 2px;
}

.cli_caption_title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	white-space: normal;
	line-height: 1.5;
	margin: 0 0 6px 0;
	color: rgb(42, 42, 42);
	text-align: left;
	font-size: 15px;
}

.cli_caption_price_box {
	padding: 0;
	margin: 0 0 4px 0;
	line-height: 1;
}

.cli_caption_price {
	font-size: 20px;
	color: rgb(247, 183, 6);
	font-weight: 700;
	letter-spacing: -0.02em;
}

.cli_caption_price small {
	font-weight: 700;
	color: rgb(247, 183, 6);
	font-size: 14px;
	margin-left: 1px;
}

.cli_caption_rv {
	vertical-align: super;
	line-height: 1;
	margin: 0 0 9px 0;
}

.pagination {
	justify-content: center;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]+label {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('../icon/star_off.png') left/22px no-repeat;
}

input[type=checkbox]:checked+label {
	background-image: url('../icon/star_on.png');
}